@import '/styles/variables';

.container {
  width: 40rem;
  height: 60rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: $background-color-1;
  border-radius: 3rem;
  box-shadow: 1rem 2.25rem 2.5rem $shadow-color-1;
}

.add-task {
  margin: 2rem 0 4rem 2rem;
}

.task-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  overflow-y: scroll;
  margin: 0 0 4rem 3rem;
}