@import "/styles/_variables.scss";

.profile-photo {
  border-radius: 1rem;
}

.greetings {
  color: $secondary-header;
  font-size: 1.4rem;
  font-weight: 400;
  margin-top: 0.4rem;
  
  &__name {
    font-size: 1.6rem;
    font-weight: 700;
    color: $primary-header;
  }
}