@import '/styles/variables';

.container {
  display: flex;
  justify-content: space-evenly;
  width: 27rem;
}

.icon-container {
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: $shadow-color-2;
  cursor: pointer;
}

.date {
  font-size: 1.8rem;
  font-weight: 700;
  color: $primary-header;
  vertical-align: middle;
  line-height: 3.25rem;
}