@import '/styles/variables';

.backdrop {
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  z-index: 20;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-container {
  display: flex;
  flex-direction: column;
  background-color: $background-color-1;
  border-radius: 1rem;
  width: 50rem;
  height: fit-content;
}

.close-container {
  display: flex;
  justify-content: flex-end;
  margin: 0.5rem 0.75rem 3rem 0;
}

.close {
  cursor: pointer;
}

.input-box {
  margin: 0 0 4rem 2rem;
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  &__header {
    font-weight: 700;
    color: $primary-header;
    margin-bottom: 0.75rem;
  }

  &__input {
    outline: none;
    padding-left: 1rem;
    font-size: 1.5rem;
    font-weight: 400;
    width: 95%;
    height: 4rem;
    background-color: $background-color-1;
    border: 0.2rem solid #fff;
    border-radius: 2rem;
    box-shadow: 
      inset 0.2rem 0.2rem #f1f2f7,
      1rem 2.25rem 2.5rem $shadow-color-1;

    &::placeholder {
      color: $primary-header;
      line-height: 4rem;
      vertical-align: middle;
      font-weight: 700;
    }
  }
}

.buttons {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 3rem;
}

.submit {
  font-size: 1.8rem;
  width: 15rem;
  height: 6rem;
  color: #fff;
  background: linear-gradient(to bottom right, $gradient-orange-light, $gradient-orange-dark);
  border: 0.2rem solid $border-color-1;
  border-radius: 2rem;
}

.cancel {
  font-size: 1.8rem;
  appearance: none;
  width: 15rem;
  height: 6rem;
  color: #fff;
  background: linear-gradient(to bottom right, $gradient-red-light, $gradient-red-dark);
  border: 0.2rem solid $border-color-2;
  border-radius: 2rem;
}

.error-message {
  font-size: 1.6rem;
  color: $primary-red;
  margin-bottom: 2rem;
}