@import '/styles/variables';

.container {
  display: flex;
  flex-direction: column;
  flex-basis: content;
  justify-content: center;
}

.header {
  font-size: 1.4rem;
  color: $primary-header;
  font-weight: 700;
}

.subheader {
  font-size: 1.2rem;
  color: $secondary-header;
}