@import '/styles/variables';

.search-bar {
  width: 20rem;
  height: 4.5rem;
  background-color: $background-color-1;
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 0.2rem solid #fff;
  border-radius: 2rem;
  box-shadow: 
    inset 0.2rem 0.2rem #f1f2f7,
    1rem 2.25rem 2.5rem $shadow-color-1;
    
  &__input {
    margin-left: 0.5rem;
    width: 13rem;
    background-color: transparent;
    border: none;
    font-size: 1.3rem;
    outline: none;
    font-weight: 700;
    
    &::placeholder {
      color: $primary-header;
      vertical-align: middle; 
      line-height: 2.5rem;
    }
  }
}

.search {
  margin-left: 1rem;
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: $shadow-color-2;
  cursor: pointer;
}