@import '/styles/variables';

.container {
  width: 40rem;
  border-radius: 3rem;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  box-shadow: 1rem 2.25rem 2.5rem $shadow-color-1;
}

.collapsible-header {
  width: 100%;
  height: 6rem;
  background-color: $background-color-1;
  box-shadow: 1rem 2.25rem 2.5rem $shadow-color-1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.header-open {
  border-radius: 3rem 3rem 0 0;
}

.header-close {
  border-radius: 3rem;
}

.header-title {
  margin-left: 2rem;
  font-size: 1.2rem;
  font-weight: 700;
}

.icon-container {
  width: 2.5rem;
  height: 2.5rem;
  margin-right: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: $shadow-color-2;
  
}

.icon {
  transform: rotate(-90deg);

  &__reversed {
    transform: rotate(-270deg);
  }
}

.collapsible-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background-color: $background-color-1;
  border-radius: 0 0 3rem 3rem; 
}

.content-close {
  max-height: 0;
  overflow: hidden;
}

.content-open {
  max-height: max-content;
}

.task-container {
  width: 100%;
  overflow-y: scroll;
}

.check-box {
  margin-left: 2rem;
}