@import '/styles/variables';

.check-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  height: 5rem;
  margin-bottom: 2.5rem;
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  background-color: transparent;
  border: 0.2rem solid $border-color-3;
  border-radius: 50%;
  margin-right: 2rem;
  &:active {
    .button {
      opacity: 1;
    }
  }
}

.button {
  width: 1.25rem;
  height: 1.25rem;
  background-color: $border-color-3;
  border: none;
  border-radius: 50%;
  opacity: 0;
}

.title-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-weight: 700;
}

.title {
  font-size: 1.6rem;
  color: $primary-header;
}

.subheader {
  font-size: 1.3rem;
}

.future-task {
  color: $secondary-header;
}

.past-task {
  color: $primary-red;
}