@import '/styles/variables';

/* GENERAL */

.container {
  width: 100%;
}


/* GRID */

.row {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

/* Calendar */

.calendar {
  width: 100%;
  background: $background-color-3;
}

.calendar-header {
  background-color: $secondary-header;
  border: 0.2rem solid $shadow-color-1;
  box-shadow: 1rem 2.25rem 1.5rem $shadow-color-1;
  height: 4rem;
  border-radius: 0 0 1rem 1rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.header-title {
  font-size: 1.3rem;
  color: $primary-header;
  font-weight: 700;
}

.selected-date {
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: $primary-red;
  cursor: pointer;
}

 .row {
  height: 11rem;
  border-bottom: 0.1rem solid $secondary-header;
}

 .row:last-child {
  border-bottom: none;
}

.cell {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

 .cell:last-child {
  border-right: none;
}


.number {
  cursor: pointer;
  font-size: 1.1rem;
}

.selected {
  color: $primary-header;
}

 .disabled {
  color: $secondary-header;
  pointer-events: none;
}

.task  {
  background-color: $shadow-color-1;
  width: 70%;
  height: 1.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: 3rem;
  box-shadow: 1rem 2.25rem 1.5rem $shadow-color-1;
  font-size: 1.3rem;
  color: $primary-header;
}
