@import '/styles/variables';

.container {
  cursor: pointer;
  width: 16rem;
  height: 5rem;
  border-radius: 2rem;
  background-color: $background-color-1;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: 1rem 2.25rem 1.5rem $shadow-color-1;
}

.icon-container {
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: $shadow-color-2;
}

.title {
  font-size: 1.6rem;
  font-weight: 700;
  color: $primary-header;
}