    @font-face {
    font-family: 'Giga Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Giga Sans Medium'), url('../woff/Locomotype  GigaSansMedium.woff') format('woff');
    }

    @font-face {
    font-family: 'Giga Sans';
    font-style: normal;
    font-weight: 700;
    src: local('Giga Sans Bold'), url('../woff/Locomotype  GigaSansBold.woff') format('woff');
    }