$primary-header:        #585e76;
$secondary-header:      #9294a0;
$background-color-1:    #f2f3f7;
$background-color-2:    #e5eaf0;
$background-color-3:    #ecf1f7;
$shadow-color-1:        #dee2ed;
$shadow-color-2:        #e9ecf5;
$border-color-1:        #fcefe8;
$border-color-2:        #ffe6e6;
$border-color-3:        #646875;
$primary-red:           #cd7e7d;
$gradient-orange-light: #f69c6b;
$gradient-orange-dark:  #ed8352;
$gradient-red-light:    #ff8080;
$gradient-red-dark:     #ff4d4d;
$backdrop:              #000;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
) !default;