@import '/styles/variables';

.outer-container {
  margin: 3rem;
  border-radius: 3rem;
}

.inner-container {
  width: 100%;
  background-color: $background-color-2;
  border-radius: 2rem;
  border: 0.4rem solid $background-color-1;
}

.sidebar {
  border-right: 0.1rem solid $secondary-header;
}

.tasks {
  padding-top: 1.5rem;
  
  & > * {
    padding-top: 1.5rem;
  }
}
.profile {
  padding: 1rem 0;
  border-bottom: 0.1rem solid $secondary-header;
}

.first-row {
  height: 10rem;
  display: flex;
  justify-content: space-between;
  padding-right: 2rem;
}

.second-row {
  padding-top: 3rem;
}