@import '/styles/variables';

.container {
  display: flex;
  justify-content: space-evenly;
  width: 38rem;
}

.icon-container {
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: $shadow-color-2;
  cursor: pointer;
}

.layout {
  font-size: 1.4rem;
  width: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2rem;
  cursor: pointer;
  
}

.unset {
  color: $primary-header;
}

.set {
  color: #fff;
  background: linear-gradient(to bottom right, $gradient-orange-light, $gradient-orange-dark);
  border: 0.2rem solid $border-color-1;
}